@CHARSET "UTF-8";

@import url("navbar.css");

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	/*
	 * Scrollbar is always visible to prevent page from shifting to the left when the scrollbar is
	 * shown.
	 */
	overflow-y: scroll;
}

body {
	/* This rule moves the content of the body down to make place for the navbar. */
	padding-top: 51px;
	background-color: #D4E3E9;
}

body.modal-open {
    overflow: visible;
}

#map {
	height: 100%;
}

/* This rule removes the padding from Bootstrap columns. */
[class^=col-xs], [class^=col-md], [class^=col-lg] {
	padding: 0;
}

/* This rule removes the negative left and right margin from Bootstrap rows. */
.row {
	margin-left: 0;
	margin-right: 0;
}

.navbar-brand img {
	position: relative;
	width: 40px;
	top: -10px;
}

.button-login {
	margin-left: 8px;
}

.bubble {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
}

.bubble-title {
	margin-bottom: 25px;
	font-size: 120%;
	font-weight: bold;
}

.comment {
	font-style: italic;
	margin-top: 15px;
}

.ratings {
	margin-top: 10px;
}

.rating {
	padding-top: 3px;
	padding-bottom: 3px;
}

.stars {
	margin-left: 10px;
}

.feedback .pizzeria-name, .feedback .user-name {
	font-size: 110%;
	font-weight: bold;
}

.rating-name {
	font-weight: bold;
}

.feedback {
	padding-top: 10px;
	padding-bottom: 10px;
}

.feedback+.feedback {
	border-top: 1px solid #DDDDDD;
}

.non-selectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}