.wrapper {
	padding-left: 15px;
}

.profile-image-container {
	text-align: center;
}

.username-container {
	font-size: 130%;
	font-weight: bold;
	margin-top: 25px;
}

.feedback {
	padding-top: 15px;
	padding-bottom: 15px;
}

.comment {
	margin-top: 25px;
}

.bubble-feedbacks .bubble-title {
	margin-bottom: 15px;
}

.feedback .pizzeria-name {
	font-size: 130%;
}

.feedback .ratings {
	margin-top: 15px;
}